[Unit]
Description=Smart Locker Flask Backend
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/smartlocker
ExecStart=/usr/bin/python3 /home/pi/smartlocker/app.py
Restart=always

[Install]
WantedBy=multi-user.target
